@{
    ViewData["Title"] = "Home Page";
}

<body>
    <nav class="navMenu">
        <p data-item='Bienvenido al sistema de inventario AVG'>Bienvenido al sistema de inventario AVG</p>
    </nav>
</body>
