@{
    ViewData["Title"] = "Privacy Policy";
}
<p>Grupo 2</p>

<h1>Valeria Morales Gamboa</h1><br />
<h1>Bryan Gonzalez Moreira</h1><br />
<h1>Fernanda Chavarria Azofeifa</h1><br />
<h1>Daniel Rivera Miranda</h1><br />
